
        <!-- Start main-content -->
        <main class="main-content dt-sl mt-4 mb-3">
            <div class="container main-container">
                <div class="row">

                     <!-- Start Sidebar -->
              @await Html.PartialAsync("_Partial_profile")
            <!-- End Sidebar -->
@model ViewModel.AdminViewModel.Order.Vm_Factor
                    <!-- Start Content -->
                    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                        <div class="row">
                            <div class="dt-sl">
                  <div class="col-12 mt-2">
                <div class="dt-sl">
                    @if (ViewBag.list != null)
                                {
                                    <div class="row m-1">
                                        @foreach (var item in ViewBag.list)
                                        {

                                            <div class="col-lg-6 col-md-6 col-12 ">
                                                        <div class="card-horizontal-product shadow">
                                                            <div class="row">
                                                                <a href="/singlepage/index/@item.Product_Id" class="m-2">
                                                                    <img src="~/fileupload/@item.Image" style="width: 75px; height: 75px; border-radius: 10px;" alt="">
                                                                </a>
                                                                <div class="cl-6">
                                                                    <p style="font-size: 10px;">شماره فاکتور : <span>  @item.Id_Factro </span></p>
                                                                    <p style="font-size: 10px;">کد سفارش: <span> @item.Id </span></p>
                                                                    <p style="font-size: 10px;">  تاریخ سفارش: <span> 99/02/31 </span></p>

                                                                </div>
                                                                <div class="cl-6 mr-3">
                                                                    <p style="font-size: 10px;">نام محصول : <span> @item.product_Name </span></p>
                                                                    <p style="font-size: 10px;">مبلغ : <span> @item.Total_sum </span> تومان </p>
                                                                    <p style="font-size: 10px;">وضعیت :<span style="font-size: 8px;"> @item.StatusM </span></p>
                                                                </div>
                                                            </div>
                                                            <p style="font-size: 10px;"> آدرس:
                                                               
                                                                    <span> @item.State-@item.City-@item.FirstAddress |@item.Post| @item.TellBuy </span>
                                                            </p>
                                                            @if (@item.StatusM=="ارسال شده به خریدار")
                                                                {
                                                                     <p style="font-size: 10px;"> کد مرسوله: @item.Send_Sales_Code </p>
                                                                    <div style="font-size: 10px; text-align: center;" class="mt-1">
                                                                            <a href="/YourAccount/TahvilOrder?c=@item.Id" class="btn btn-success">دریافت</a>
                                                                            <a href="/YourAccount/TahvilNO?c=@item.Id" class="btn btn-danger">دریافت و قصد مرجوعی</a>
                                                                    </div>
                                                                }
                                                            @if (@item.StatusM=="ارسال نوِنو به خریدار")
                                                                {
                                                                     <p style="font-size: 10px;"> کد مرسوله: @item.Send_Admin_Code </p>
                                                                    <div style="font-size: 10px; text-align: center;" class="mt-1">
                                                                            <a href="/YourAccount/TahvilOrder?c=@item.Id" class="btn btn-success">دریافت</a>
                                                                            <a href="/YourAccount/TahvilNO?c=@item.Id" class="btn btn-danger">دریافت و قصد مرجوعی</a>
                                                                    </div>
                                                                }
                                                            @if (@item.StatusM=="قصد مرجوعی خریدار")
                                                                {
                                                                    <div style="font-size: 10px; text-align: center;" class="mt-1">
                                                                            <a href="/YourAccount/TahvilNOShow?c=@item.Id" class="btn btn-success">مشاهده علت  </a>
                                                                            در انتظار تایید مرجوعی
                                                                    </div>
                                                                }
                                                            @if (@item.StatusM=="عدم تایید سیستم بازرسی")
                                                                {
                                                                          <a href="/YourAccount/WyNoShow?c=@item.Id" class="btn btn-warning btn-sm" >   مشاهده علت عدم تایید سیستم بازرسی </a>
                                                                        
                                                                }  
                                                            @if (@item.StatusM=="در انتظار ارسال خریدار")
                                                                {
                                                                        <div style="font-size: 10px; text-align: center;" class="mt-1">
                                                                            <form method="POST" action="/YourAccount/SendOrder">
                                                                                <input type="text" placeholder="کد مرسوله" asp-for="Send_Order_Code" required >
                                                                                <input type="text" value="@item.Id" asp-for="Id" hidden>
                                                                                    <button  type="submit" style="font-weight: bold; font-size:12px;  border-color: green;"
                                                                                        class="btn btn-sm btn-primary ">  ارسال با پست </button>
                                                                            </form>
                                                                           
                                                                        </div>
                                                                    
                                                                }
                                                        </div>
                                            </div>
                                        }
                                    </div>
                                }
                </div>
            </div>
                </div>
                        </div>
                    </div>
                    <!-- End Content -->
                     <div class="col-12 mt-2">
                
            </div>

                </div>
            </div>
        </main>
        <!-- End main-content -->
