@{
Layout= "_Layout2";
}
@model ViewModel.Entities.User.Vm_Advertising;

<!-- Bootstrap -->
<link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
<!-- Plugins -->
<link rel="stylesheet" href="~/assets/css/vendor/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/css/vendor/jquery.horizontalmenu.css">
<link rel="stylesheet" href="~/assets/css/vendor/nouislider.min.css">
<!-- Font Icon -->
<link rel="stylesheet" href="~/assets/css/vendor/materialdesignicons.min.css">
<!-- Main CSS File -->
<link rel="stylesheet" href="~/assets/css/main.css">
<link rel="stylesheet" href="~/assets/css/colors/default.css" id="colorswitch">



<link rel="stylesheet" type="text/css" href="~/Css-Js-UpMultiImg/style.css">
@*
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.4-rc1/css/foundation.css'> *@
<form action="/CreateAdvertising/AddAdvertising" method="POST" enctype="multipart/form-data">
                            <div class="row " style="display: flex; justify-content: center;">
                                <div class="px-3 ">
                                    <div style="width: 70vw; margin-top: 10px; text-align: end; ">
                                        <a href="/YourAccount/Profile" style="font-size: 16px; ">برگشت <i
                                                class="mdi mdi-backburger"></i></a>
                                 </div>
                            </div>
                            
    <!-- Start main-content -->
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="row">

                <!-- Start Sidebar -->
                @* @await Html.PartialAsync("_Partial_profile") *@
                <!-- End Sidebar -->

                

                <!-- Start Content -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">

                        <div class="col-md-10 col-sm-12 mx-auto">
                            @if (ViewBag.msg != null)
                            {
                            <p class="alert alert-success"> @ViewBag.msg</p>
                            }
                            <div class="px-3 px-res-0">
                                <div
                                    class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
                                    <div style=" border-radius: 10px;" class="bg-secondary text-light text-center">
                                        <h2 class="text-light" style="font-size: 16px;">ثبت کالا </h2>
                                    </div>
                                </div>



                                <div class="px-3">
                                    <div style=" border-radius: 9px;" class="form-ui additional-info dt-sl dt-sn pt-4 ">

                                        <script>


                                            function gotoaks() {

                                                document.getElementById('aghahi').style.display = "none";
                                                document.getElementById('aks').style.display = "block";
                                            }


                                            function gotoname() {
                                                    document.getElementById('aks').style.display = "none";
                                                    document.getElementById('name').style.display = "block";
                                            }



                                            function gototype() {


                                                if ((document.getElementById('Title_Pro').value != "") && (document.getElementById('Discreption_Pro').value != "")) {
                                                    document.getElementById('name').style.display = "none";
                                                    document.getElementById('type').style.display = "block";

                                                }
                                                else {
                                                    document.getElementById('eTitle_Pro').innerText = "عنوان کالا وارد نمایید.";
                                                    document.getElementById('eDiscreption_Pro').innerText = "توضیحات کالا وارد نمایید.";
                                                }
                                            }




                                            function gotoprice() {
                                                document.getElementById('type').style.display = "none";
                                                document.getElementById('price').style.display = "block";
                                            }

                                            function gotochone() {
                                                   debugger

                                                if ((document.getElementById('Main_Price').value != "") && (document.getElementById('Discount_Price').value != "") && (document.getElementById('Number').value != "")) {
                                                   
                                                    var a = parseInt(document.getElementById('Main_Price').value)
                                                    var b = parseInt(document.getElementById('Discount_Price').value)
                                                    if (a<10000) {
                                                        document.getElementById('eMain_Price').innerText = "مبلغ نمیتواند از ده هزار تومان کمتر باشد.";
                                                    }
                                                    else if (b > a) {
                                                        document.getElementById('eDiscount_Price').innerText = "مبلغ تخفیف نمیتواند از مبلغ اصلی بیشتر باشد.";
                                                    }
                                                    else {
                                                        document.getElementById('price').style.display = "none";
                                                        document.getElementById('chone').style.display = "block";
                                                    }
                                                }
                                                else {
                                                    document.getElementById('eNumber').innerText = "تعداد موجودی کالا را وارد نمایید.";
                                                    document.getElementById('eMain_Price').innerText = "مبلغ را وارد نمایید.";
                                                    document.getElementById('eDiscount_Price').innerText = "قیمت تخفیف را وارد نمایید.";
                                                }

                                            }






                                            function backtoaghahi() {
                                                document.getElementById('aks').style.display = "none";
                                                document.getElementById('aghahi').style.display = "block";

                                            }
                                            function backtoaks() {
                                                document.getElementById('name').style.display = "none";
                                                document.getElementById('aks').style.display = "block";

                                            }
                                            function backtoname() {
                                                document.getElementById('type').style.display = "none";
                                                document.getElementById('name').style.display = "block";

                                            }
                                            function backtotype() {
                                                document.getElementById('price').style.display = "none";
                                                document.getElementById('type').style.display = "block";

                                            }
                                            function backtoprice() {
                                                document.getElementById('chone').style.display = "none";
                                                document.getElementById('price').style.display = "block";

                                            }






                                        </script>


                                        @* دسته بندی *@

                                        <div id="aghahi">
                                            <div class="form-row-title">
                                                <h3> دستهٔ کالا را انتخاب کنید </h3>
                                            </div>
                                            <br>




                                            <link
                                                href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css"
                                                rel="stylesheet" type="text/css" />



                                            <nav class="tree-nav">

                                                @foreach (var item in menu.cat)
                                                {
                                                if (item.FatherIdCat == -1)
                                                {
                                                <details class="tree-nav__item is-expandable  "
                                                    style="font-size: 12px; ">
                                                    <summary class="tree-nav__item-title alert alert-dark m-2 p-2">@item.NameCat
                                                    </summary>
                                                    @foreach (var item1 in menu.cat)
                                                    {
                                                    if (item1.FatherIdCat == item.Id)
                                                    {
                                                    <details class="tree-nav__item is-expandable">
                                                        <summary class="tree-nav__item-title alert m-2 p-2"
                                                            style="background-color: #cfd8e3;">@item1.NameCat</summary>
                                                        

                                                            @foreach (var item2 in menu.cat)
                                                            {
                                                            if (item2.FatherIdCat == item1.Id)
                                                            {
                                                            <div class="tree-nav__item">
                                                                <table style="width:95%">
                                                                    <tr>
                                                                        <th class="">

                                                                            <a onclick="send(@item2.Id);"
                                                                                class=" tree-nav__item-title alert  m-1 p-2   form-control text-center"
                                                                                style="background-color: #E8EDF2; cursor: pointer;">

                                                                                @item2.NameCat
                                                                                
                                                                            </a>


                                                                        </th>


                                                                    </tr>
                                                                </table>
                                                            </div>

                                                            }
                                                            }

                                                       
                                                    </details>
                                                    }
                                                    }


                                                </details>

                                                }
                                                }
                                                <input asp-for="Category" type="text" style="display: none;">

                                            </nav>
                                            <script>
                                                function send(a) {
                                                    debugger
                                                    document.getElementById("Category").value = a;
                                                    gotoaks();
                                                }
                                            </script>







                                        </div>

                                        @* عکس *@

                                        <div id="aks" style="display: none;">

                                            <div class="form-row-title">
                                                <h3> آپلود عکس </h3>
                                            </div>



                                            <div class="row" style="padding: 20px;">


                                                <div class="col-12 col-xl-6 col-lg-6 col-md-6 ">
                                                    <div style="text-align: center;" class="input-group row">
                                                        <div class="custom-file col-12">
                                                            <input asp-for="Img" onchange="preview_image(event)"
                                                                type="file" class="custom-file-input"
                                                                aria-describedby="inputGroupFileAddon04" accept="image/*">


                                                            <label onchange="preview_image(event)"
                                                                class="custom-file-label" for="inputGroupFile04">انتخاب
                                                                عکس اصلی</label>


                                                        </div>

                                                    </div>
                                                    <p id="eImg" class="mt-3 text-danger "></p>
                                                </div>

                                                <div class="col-12 col-xl-6 col-lg-6 col-md-6 mt-3 mb-2 text-center">
                                                    <div style="col-4">
                                                       
                                                            <img id="output_image" 
                                                            src="~/fileupload/@Model.Image" alt="" class="imageThumb ">
                                                       
                                                      
                                                    </div>
                                                    <script>
                                                        function preview_image(event) {
                                                            var reader = new FileReader();
                                                            reader.onload = function () {
                                                                var output = document.getElementById('output_image');
                                                                output.src = reader.result;
                                                            }
                                                            reader.readAsDataURL(event.target.files[0]);
                                                        }
                                                    </script>
                                                </div>



                                                
                                                @if (@ViewBag.FImage!= null)
                                                {
                                                    @foreach (var item in @ViewBag.FImage)
                                                    {
                                                         <img id="output_image" 
                                                            src="~/fileupload/@item.ImagePath" alt="" class="imageThumb ">
                                                    }
                                                    
                                                }







                                            



                                            <!-- upload multi image -->
                                            <script
                                                src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                            <div class="field" align="center">

                                                <input type="file" asp-for="files"  multiple accept="image/*"
                                                    style="display: none;" />
                                                <label for="files" class="btn btn-info form-control mt-3">  انتخاب عکس بیشتر</label>
                                            </div>
                                            <style>
                                                input[type="file"] {
                                                    display: block;
                                                }

                                                .imageThumb {
                                                    max-height: 75px;
                                                    border: 2px solid;
                                                    padding: 1px;
                                                    cursor: pointer;
                                                    width: 100px;
                                                    height: 100px;
                                                    
                                                }

                                                .pip {
                                                    display: inline-block;
                                                    margin: 10px 10px 0 0;
                                                }

                                                .remove {
                                                    display: block;
                                                    background: #444;
                                                    border: 1px solid black;
                                                    color: white;
                                                    text-align: center;
                                                    cursor: pointer;
                                                }

                                                .remove:hover {
                                                    background: white;
                                                    color: black;
                                                }
                                            </style>




                                            <script>
                                                $(document).ready(function () {
                                                    if (window.File && window.FileList && window.FileReader) {
                                                        $("#files").on("change", function (e) {
                                                            var files = e.target.files,
                                                                filesLength = files.length;
                                                            for (var i = 0; i < filesLength; i++) {
                                                                var f = files[i]
                                                                var fileReader = new FileReader();
                                                                fileReader.onload = (function (e) {
                                                                    var file = e.target;
                                                                    $("<span class=\"pip\">" +
                                                                        "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                                                                        "<br/><span class=\"remove\">حذف</span>" +
                                                                        "</span>").insertAfter("#files");
                                                                    $(".remove").click(function () {
                                                                        $(this).parent(".pip").remove();
                                                                    });

                                                             
                                                                });
                                                                fileReader.readAsDataURL(f);
                                                            }
                                                        });
                                                    } else {
                                                        alert("Your browser doesn't support to File API")
                                                    }
                                                });
                                            </script>






                                            <!-- end upload image -->























                                            <div style="text-align: center;">
                                                <a class="btn btn-secondary mt-3 text-light "
                                                    onclick="backtoaghahi();">مرحله قبلی</a>
                                                <a class="btn btn-secondary mt-3 text-light "
                                                    onclick="gotoname();">مرحله بعدی</a>

                                            </div>






                                        </div>


                                        @* نام وتوضیحات آگهی *@



                                        <div id="name" style="display: none;">

                                            <div class="form-row-title">
                                                <h3>عنوان کالا</h3>
                                            </div>

                                            <div class="form-row">
                                                <input asp-for="Title_Pro" type="text" class="input-ui pr-2"
                                                    placeholder=" عنوان کالا را وارد نمایید">
                                                <p style="color: #828282;font-size: 11px; font-weight: bold;">
                                                    <span style="color: red; font-size: 16px;">*</span>
                                                    برند کالا و مدل دقیق کالا را ذکر نمایید.
                                                </p>

                                            </div>
                                            <p id="eTitle_Pro" class="mt-3 text-danger"></p>


                                            <div class="form-row-title">
                                                <h3>توضیحات کالا</h3>
                                            </div>
                                            <div class="form-row">
                                                <textarea class="input-ui pr-2 pt-2" rows="5"
                                                    placeholder=" توضیحات کالا را وارد نمایید"
                                                    asp-for="Discreption_Pro">
                                                        </textarea>
                                                <p style="color: #828282;font-size: 11px; font-weight: bold;">
                                                    <span style="color: red; font-size: 16px;">*</span>
                                                    توضیحات بیشتر از 100 کلمه امکان شانس نمایش کالای شما در جستجوی گوگل
                                                    را بیشتر می کند.
                                                </p>

                                            </div>
                                            <p id="eDiscreption_Pro" class="mt-3 text-danger"></p>
                                            <div style="text-align: center;">
                                                <a class="btn btn-secondary mt-3 text-light "
                                                    onclick="backtoaks();">مرحله قبلی</a>
                                                <a class="btn btn-secondary mt-3 text-light "
                                                    onclick="gototype();">مرحله بعدی</a>

                                            </div>


                                        </div>



                                        @* نوع فروش و معامله *@

                                        <div id="type" style="display: none;">

                                            <div class="form-row-title">
                                                <h3> انتخاب نوع کالا </h3>
                                            </div>
                                            <div class="form-row mt-2">

                                                <div class="checkout-shipment mb-4">
                                                    <div class="custom-control custom-radio pl-0 pr-3">
                                                        <input checked="checked" id="Type_pro" name="Type_pro"
                                                            type="radio" value="نو">
                                                        <label>
                                                            کالای نو استفاده نشده
                                                        </label>
                                                        <p style="color: #828282;font-size: 11px; font-weight: bold;">
                                                            <span style="color: red; font-size: 16px;">*</span> منظور
                                                            کالای نو
                                                            استفاده نشده است که به آن نیازی ندارید و قصد فروش آن را
                                                            دارید
                                                        </p>
                                                    </div>
                                                    <div class="custom-control custom-radio  pl-0 pr-3">
                                                        <input id="Type_pro" name="Type_pro" type="radio" value="خانگی">
                                                        <label>
                                                            کالای کسب و کار محلی و خانگی
                                                        </label>
                                                        <p style="color: #828282;font-size: 11px; font-weight: bold;">
                                                            <span style="color: red; font-size: 16px;">*</span> اگر کسب
                                                            و کار
                                                            کوچک
                                                            خانگی دارید و قصد فروش محصولات تازه تولید شده را دارید
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row-title">
                                                <h3> انتخاب نوع معامله </h3>
                                            </div>
                                            <div class="form-row mt-2">
                                                <div class="checkout-shipment mb-4">
                                                    <div class="custom-control custom-radio pl-0 pr-3">
                                                        <input checked="checked" id="Type_Transaction"
                                                            name="Type_Transaction" type="radio" value="بصورت مستقیم">
                                                        <label>
                                                            بصورت مستقیم
                                                        </label>
                                                        <p style="color: #828282;font-size: 11px; font-weight: bold;">
                                                            <span style="color: red; font-size: 16px;">*</span> خریدار
                                                            بصورت
                                                            مستقیم کالا را از شما میخرد و سایت نوِنو دخالتی در فرایند
                                                            تأیید
                                                            کالا
                                                            ندارد
                                                        </p>
                                                    </div>
                                                    <div class="custom-control custom-radio  pl-0 pr-3">
                                                        <input id="Type_Transaction" name="Type_Transaction"
                                                            type="radio" value="بازرسی">
                                                        <label>
                                                            از طریق سیستم بازرسی کالا
                                                        </label>
                                                        <p style="color: #828282;font-size: 11px; font-weight: bold;">
                                                            <span style="color: red; font-size: 16px;">*</span> کالا در
                                                            سیستم
                                                            بازرسی نوِنو بازرسی شده و فقط در صورت صحت ادعای فروشنده به
                                                            خریدار
                                                            ارسال می‌شود
                                                        </p>
                                                    </div>
                                                    <div class="custom-control custom-radio  pl-0 pr-3">
                                                        <input id="Type_Transaction" name="Type_Transaction"
                                                            type="radio" value="انتخاب برعهده خریدار">
                                                        <label>
                                                            انتخاب برعهده خریدار
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div style="text-align: center;">
                                                <a class="btn btn-secondary mt-3 text-light "
                                                    onclick="backtoname();">مرحله قبلی</a>
                                                <a class="btn btn-secondary mt-3 text-light "
                                                    onclick="gotoprice();">مرحله بعدی</a>

                                            </div>

                                        </div>





                                        @* قیمت و زمان *@

                                        <div id="price" style="display: none;">
                                            <div class="form-row-title">
                                                <h3> نوع قیمت گذاری </h3>
                                            </div>
                                            <div class="form-row mt-2">
                                                <div class="checkout-shipment mb-4">

                                                    <div class="row">
                                                        <!--Checkbox1-->
                                                        <div class="custom-control custom-radio pl-0 pr-3">
                                                            <input type="checkbox" id="myCheck1" onclick="myFunction1()"
                                                                disabled>
                                                            <label class="m-2 p-2"> بالاترین پیشنهاد خریدار(مزایده)
                                                            </label><span class="text-danger">(در حال بروز رسانی)</span>
                                                        </div>
                                                        <!--Checkbox1 End-->

                                                        <!--Checkbox2-->
                                                        <div class="custom-control custom-radio  pl-0 pr-3">
                                                            <input type="checkbox" id="myCheck2" onclick="myFunction2()"
                                                                checked="checked" disabled>
                                                            <label class="m-2 p-2"> قیمت ثابت و مشخص </label>
                                                        </div>
                                                        <!--Checkbox2 End-->
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="text1" style="display:none">
                                                <div style="border: 1px solid #b0b0b0; border-radius:10px"
                                                    class="form-row">
                                                    <div class="col-12" style="padding:15px">
                                                        <div class="form-row-title">
                                                            <h3>حداقل قیمت شروع مزایده</h3>
                                                        </div>
                                                        <div>
                                                            <input type="text" class="input-ui pr-2"
                                                                placeholder=" حداقل قیمت شروع مزایده را وارد نمایید"
                                                                placeholder="-">
                                                        </div>
                                                    </div>

                                                    <div class="col-12" style="padding:15px">
                                                        <div class="form-row-title">
                                                            <h3>مدت زمان مزایده</h3>
                                                        </div>
                                                        <div class="form-row">
                                                            <input type="text" class="input-ui pr-2"
                                                                placeholder=" مدت زمان مزایده را وارد نمایید">
                                                        </div>
                                                    </div>

                                                    <div class="col-12" style="padding:15px">
                                                        <div class="form-row-title">
                                                            <h3>زمان آغاز مزایده</h3>
                                                        </div>
                                                        <div class="form-row">
                                                            <input type="text" class="input-ui pr-2"
                                                                placeholder=" زمان آغاز مزایده را وارد نمایید">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="text2">
                                                <div style="border: 1px solid #b0b0b0; border-radius:10px"
                                                    class="form-row">
                                                    <div class="col-12" style="padding:15px">
                                                        <div class="form-row-title">
                                                            <h3>قیمت اصلی
                                                                <span
                                                                    style="color: red; font-size: 16px;">(تومان)</span>
                                                            </h3>
                                                        </div>
                                                        <div>
                                                            <input type="number" class="input-ui pr-2"
                                                                placeholder=" قیمت کالا را وارد نمایید"
                                                                asp-for="Main_Price">
                                                            <p
                                                                style="color: #828282;font-size: 11px; font-weight: bold;">
                                                                <span style="color: red; font-size: 16px;">*</span>
                                                                قیمتی که
                                                                کالای
                                                                شما در سایر بازارها عرضه میشود

                                                            </p>
                                                            <p id="eMain_Price" class="mt-3 text-danger"></p>

                                                        </div>
                                                    </div>
                                                   

                                                    <div class="col-12" style="padding:15px">
                                                        <div class="form-row-title">
                                                            <h3>قیمت با تخفیف<span
                                                                    style="color: red; font-size: 16px;">(تومان)</span>
                                                            </h3>
                                                        </div>
                                                        <div class="form-row">
                                                            <input type="number" class="input-ui pr-2"
                                                                asp-for="Discount_Price"
                                                                placeholder="قیمت با تخفیف کالا را وارد نمایید">
                                                            <p
                                                                style="color: #828282;font-size: 11px; font-weight: bold;">
                                                                <span style="color: red; font-size: 16px;">*</span>
                                                                قیمتی که
                                                                شما
                                                                حاضرید کالای خود را بفروشید
                                                            </p>
                                                            <p id="eDiscount_Price" class="mt-3 text-danger"></p>


                                                        </div>
                                                    </div>
                                                     <div class="col-12" style="padding:15px">
                                                        <div class="form-row-title">
                                                            <h3>تعداد موجودی 
                                                            </h3>
                                                        </div>
                                                        <div>
                                                            <input type="number" class="input-ui pr-2"
                                                                placeholder=" تعداد موجودی کالا را وارد نمایید"
                                                                asp-for="Number">
                                                            <p
                                                                style="color: #828282;font-size: 11px; font-weight: bold;">
                                                                <span style="color: red; font-size: 16px;">*</span>
                                                                تعداد موجودی کالا را وارد نمایید

                                                            </p>
                                                            <p id="eNumber" class="mt-3 text-danger"></p>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div style="text-align: center;">

                                                <a class="btn btn-secondary mt-3 text-light "
                                                    onclick="backtotype();">مرحله قبلی</a>
                                                <a class="btn btn-secondary mt-3 text-light "
                                                    onclick="gotochone();">مرحله بعدی</a>
                                            </div>

                                        </div>


                                        @* معاوظه و چونه*@

                                        <div id="chone" style="display: none;">


                                            <div class="col-12 " style="padding:10px">


                                                <div class="form-row m-2 p-2"
                                                    style="border: 1px solid #b0b0b0; border-radius:10px">

                                                    <div class="checkout-shipment mb-4">
                                                        <span class="m-auto"
                                                            style="color: red; font-size: 16px; text-align:center">این
                                                            بخش در حال بروز رسانی می باشد.</span>
                                                        <div class="custom-control custom-radio pl-0 pr-3">
                                                            <input type="radio" class="custom-control-input"
                                                                name="radio6" id="radio6" value="option6" disabled>
                                                            <label for="radio6" class="custom-control-label">
                                                                فعال کردن امکان معاوضه آنلاین
                                                            </label>
                                                            <p
                                                                style="color: #828282;font-size: 11px; font-weight: bold;">
                                                                <span style="color: red; font-size: 16px;">*</span>
                                                                معاوضه فقط از طریق سیستم بازرسی امکان پذیر است
                                                            </p>
                                                        </div>
                                                        <div class="custom-control custom-radio  pl-0 pr-3">
                                                            <input type="radio" class="custom-control-input"
                                                                name="radio6" id="radio7" value="option7" disabled>
                                                            <label for="radio7" class="custom-control-label">
                                                                فعال کردن سیتم چونه زنی
                                                            </label>
                                                            <p
                                                                style="color: #828282;font-size: 11px; font-weight: bold;">
                                                                <span style="color: red; font-size: 16px;">*</span>
                                                                به مشتری این امکان را می دهد که با شما بر سر
                                                                قیمت
                                                                چونه بزند و تخفیف بیشتری بگیرد
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <a class="btn btn-secondary mt-3 text-light " onclick="backtoprice();">مرحله
                                                قبلی</a>

                                            <div class="dt-sl">
                                                <div class="form-row mt-3 justify-content-center">
                                                    <button type="submit" name="submit"
                                                        class="btn-primary-cm btn-with-icon ml-2">
                                                        <i class="mdi mdi-account-circle-outline"></i>
                                                        ثبت نهایی کالا
                                                    </button>

                                                    <a href="/YourAccount/Profile"
                                                        class="btn-primary-cm bg-secondary">انصراف</a>
                                                </div>
                                            </div>
                                        </div>



                                    </div>



                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
        </div>
    </main>
</form>














<script>
    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output_image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>




<!-- End main-content -->
<script>
    function myFunction1() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck1");
        // Get the output text
        var text = document.getElementById("text1");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
<script>
    function myFunction2() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck2");
        // Get the output text
        var text = document.getElementById("text2");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>

<script>
    function My() {
        document.getElementById('Advert1').style.display = "none";
    }
    }
</script>

<script>
    document.getElementById('Footer1').style.display = "none";
</script>

<!-- Core JS Files -->
<script src="~/assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="~/assets/js/vendor/popper.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="~/assets/js/vendor/owl.carousel.min.js"></script>
<script src="~/assets/js/vendor/jquery.horizontalmenu.js"></script>
<script src="~/assets/js/vendor/nouislider.min.js"></script>
<script src="~/assets/js/vendor/wNumb.js"></script>
<script src="~/assets/js/vendor/ResizeSensor.min.js"></script>
<script src="~/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
<!-- Main JS File -->
<script src="~/assets/js/main.js"></script>

<script src="~/Css-Js-UpMultiImg/script.js"></script>