<!-- Start main-content -->
<main class="main-content dt-sl mt-4 mb-3">
    <div class="header-cover">
        <div class="promotion-header-img"></div>
    </div>
    <div class="container main-container mt-5">
        <div class="row">


            <!-- Start Sidebar -->
            <div class="col-lg-3 col-md-12 col-sm-12 sticky-sidebar hidden-sm">
                <div class="dt-sn mb-3">
                    <form action="">
                        <div class="col-12">
                            <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide">
                                <h2>فیلتر محصولات</h2>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="widget-search">
                                <input type="text" name="s" placeholder="نام محصول یا برند مورد نظر را بنویسید...">
                                <button class="btn-search-widget">
                                    <img src="./assets/img/theme/search.png" alt="">
                                </button>
                            </div>
                        </div>
                        <div class="col-12 filter-product mb-3">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                دسته بندی
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">همه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">لباس
                                                    مردانه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                <label class="custom-control-label" for="customCheck3">تیشرت
                                                    مردانه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4">شلوار
                                                    مردانه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                                <label class="custom-control-label" for="customCheck5">لباس
                                                    زنانه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck6">
                                                <label class="custom-control-label" for="customCheck6">اکسسوری</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                برند
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck7">
                                                <label class="custom-control-label" for="customCheck7">همه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck8">
                                                <label class="custom-control-label" for="customCheck8">پوما</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck9">
                                                <label class="custom-control-label" for="customCheck9">آدیداس</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck10">
                                                <label class="custom-control-label" for="customCheck10">نایک</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                فروشنده
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck11">
                                                <label class="custom-control-label" for="customCheck11">همه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck12">
                                                <label class="custom-control-label" for="customCheck12">دیدی
                                                    کالا</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck13">
                                                <label class="custom-control-label" for="customCheck13">فروشنده
                                                    رسمی برند</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                                رنگها
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck14">
                                                <label class="custom-control-label" for="customCheck14">مشکی</label>
                                                <span class="filter-color" style="background-color: rgb(0,0,0)"></span>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck15">
                                                <label class="custom-control-label" for="customCheck15">نوک
                                                    مدادی</label>
                                                <span class="filter-color"
                                                    style="background-color: rgb(105,105,105)"></span>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck16">
                                                <label class="custom-control-label" for="customCheck16">آبی روشن</label>
                                                <span class="filter-color"
                                                    style="background-color: rgb(64,170,255)"></span>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck17">
                                                <label class="custom-control-label" for="customCheck17">نقره ای</label>
                                                <span class="filter-color"
                                                    style="background-color: rgb(222,222,222)"></span>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck18">
                                                <label class="custom-control-label" for="customCheck18">زرد</label>
                                                <span class="filter-color"
                                                    style="background-color: rgb(255,255,0)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-4">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                                <h2>فیلتر براساس قیمت :</h2>
                            </div>
                            <div class="mt-2 mb-2">
                                <div id="slider-non-linear-step"></div>
                            </div>
                            <div class="mt-2 mb-2 text-center pt-2">
                                <span>قیمت: </span>
                                <span class="example-val" id="slider-non-linear-step-value"></span> تومان
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="parent-switcher">
                                <label class="ui-statusswitcher">
                                    <input type="checkbox" id="switcher-1">
                                    <span class="ui-statusswitcher-slider">
                                        <span class="ui-statusswitcher-slider-toggle"></span>
                                    </span>
                                </label>
                                <label class="label-switcher" for="switcher-1">فقط کالاهای موجود</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-info btn-block" type="submit">
                                فیلتر
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Sidebar -->


            <!-- Start Sidebar -->
            <div class="col-lg-3 col-md-12 col-sm-12 sticky-sidebar d-md-none d-lg-none d-xl-none">
                <div class="dt-sn mb-3">
                    <div class="col-12">
                        <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide">
                            <input type="checkbox"  id="myCheck1" onclick="myFunction1()">
                            <label class="m-1 p-1"> فیلتر محصولات </label>
                        </div>
                    </div>
                    <form id="text1" style="display:none" action="">
                        <div class="col-12 filter-product mb-3">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                دسته بندی
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">همه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">لباس
                                                    مردانه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                <label class="custom-control-label" for="customCheck3">تیشرت
                                                    مردانه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4">شلوار
                                                    مردانه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                                <label class="custom-control-label" for="customCheck5">لباس
                                                    زنانه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck6">
                                                <label class="custom-control-label" for="customCheck6">اکسسوری</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                برند
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck7">
                                                <label class="custom-control-label" for="customCheck7">همه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck8">
                                                <label class="custom-control-label" for="customCheck8">پوما</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck9">
                                                <label class="custom-control-label" for="customCheck9">آدیداس</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck10">
                                                <label class="custom-control-label" for="customCheck10">نایک</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                فروشنده
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck11">
                                                <label class="custom-control-label" for="customCheck11">همه</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck12">
                                                <label class="custom-control-label" for="customCheck12">دیدی
                                                    کالا</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck13">
                                                <label class="custom-control-label" for="customCheck13">فروشنده
                                                    رسمی برند</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                                رنگها
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck14">
                                                <label class="custom-control-label" for="customCheck14">مشکی</label>
                                                <span class="filter-color" style="background-color: rgb(0,0,0)"></span>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck15">
                                                <label class="custom-control-label" for="customCheck15">نوک
                                                    مدادی</label>
                                                <span class="filter-color"
                                                    style="background-color: rgb(105,105,105)"></span>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck16">
                                                <label class="custom-control-label" for="customCheck16">آبی روشن</label>
                                                <span class="filter-color"
                                                    style="background-color: rgb(64,170,255)"></span>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck17">
                                                <label class="custom-control-label" for="customCheck17">نقره ای</label>
                                                <span class="filter-color"
                                                    style="background-color: rgb(222,222,222)"></span>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck18">
                                                <label class="custom-control-label" for="customCheck18">زرد</label>
                                                <span class="filter-color"
                                                    style="background-color: rgb(255,255,0)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-4">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                                <h2>فیلتر براساس قیمت :</h2>
                            </div>
                            <div class="mt-2 mb-2">
                                <div id="slider-non-linear-step"></div>
                            </div>
                            <div class="mt-2 mb-2 text-center pt-2">
                                <span>قیمت: </span>
                                <span class="example-val" id="slider-non-linear-step-value"></span> تومان
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="parent-switcher">
                                <label class="ui-statusswitcher">
                                    <input type="checkbox" id="switcher-1">
                                    <span class="ui-statusswitcher-slider">
                                        <span class="ui-statusswitcher-slider-toggle"></span>
                                    </span>
                                </label>
                                <label class="label-switcher" for="switcher-1">فقط کالاهای موجود</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-info btn-block" type="submit">
                                فیلتر
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <script>
                function myFunction1() {
                    // Get the checkbox
                    var checkBox = document.getElementById("myCheck1");
                    // Get the output text
                    var text = document.getElementById("text1");

                    // If the checkbox is checked, display the output text
                    if (checkBox.checked == true) {
                        text.style.display = "block";
                    } else {
                        text.style.display = "none";
                    }
                }
            </script>
            <!-- End Sidebar -->

            <!-- Start Content -->
            <div class="col-lg-9 col-md-12 col-sm-12 search-card-res">
                <div class="dt-sl dt-sn px-0 search-amazing-tab">
                    <div class="ah-tab-wrapper dt-sl">
                        
                    </div>
                    <div class="ah-tab-content-wrapper dt-sl px-res-0">
                        <div class="ah-tab-content dt-sl" data-ah-tab-active="true">
                            <div class="row mb-3 mx-0 px-res-0">


                                @if (ViewBag.menu!=null)
                                {
                                    @foreach (var item in ViewBag.menu)
                                    {
                                        
                                   
                                    
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0">
                                    <div class="d-flex justify-content-center container mt-1" style="max-height: 300px;">
                                                    <div class="card p-2">
                                                        <div class="about-product text-center mt-1 p-1" style="height:160px;">
                                                            <a class="product-thumb" href="/SinglePage/index/@item.Id" style="   border-radius: 5%;">
                                                                <img src="/FileUpload/@item.Image" alt="Product Thumbnail"  style=" border-radius: 10%; max-height: 150px;">
                                                            </a>
                                                        </div>
                                                        <div class="stats ">
                                                            <h6 class="mt-0 text-black-50"> <a style="color: gray; font-size: 14px;" href="/SinglePage/index/@item.Id">@item.Title_Pro</a></h6>
                                                            <div class="d-flex justify-content-between p-price"> <a class="product-meta" style="color: gray; " href="/SinglePage/index/@item.Id">@item.Type_pro</a></div>
                                                            <div class="d-flex justify-content-between p-price"><del style="color: red;"  id="@item.Id">@item.Main_Price</del><span style="color: gray;"> تومان </span></div>
                                                            <div class="d-flex justify-content-between p-price"><span style="color: gray;" id="@item.Id@item.Id">@item.Discount_Price</span><span style="color: gray;"> تومان </span></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <script>
                                                        document.getElementById("@item.Id").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                        document.getElementById("@item.Id@item.Id").innerText=document.getElementById("@item.Id@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    </script>

                                                </div>
                                   
                                </div>
                                 }
                                }
              
                                </div>

                            </div>
                      
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- End Content -->

        </div>

    </div>
</main>
<!-- End main-content -->