<link rel="stylesheet" href="~/css/test.css">
        <!-- End header -->

        <!-- Start main-content -->
        <main class="main-content dt-sl mt-4 mb-3">
            <div class="container main-container">

                <!-- Start Main-Slider -->
                <div class="row mb-5">
                    <div class="col-xl-12 col-lg-12 col-12 order-1 order-lg-2">
                                  <!-- Start Main-Slider -->

                <div class="row mb-5">
                    <div class="col-xl-12 col-lg-12 col-12 order-1 order-lg-2">
                        <!-- Start main-slider -->
                 
                        <section id="main-slider" class="main-slider carousel slide carousel-fade card hidden-sm"
                            data-ride="carousel">
                            @* <ol class="carousel-indicators">
                                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#main-slider" data-slide-to="1" ></li>
                                <li data-target="#main-slider" data-slide-to="2"></li>
                                <li data-target="#main-slider" data-slide-to="3"></li>
                                <li data-target="#main-slider" data-slide-to="4"></li>
                                <li data-target="#main-slider" data-slide-to="5"></li>
                                <li data-target="#main-slider" data-slide-to="6"></li>
                            </ol>
             *@
                            <div class="carousel-inner">

                 
    @if ( ViewBag.slider1 != null)
                        {
                        @foreach (var item in ViewBag.slider1)
                        {
    <div class="carousel-item active">
                                    <a class="main-slider-slide" href="/@item.linkslaid"
                                        style="background-image: url(../fileupload/@item.ImageMainSlid)">
                                    </a>
                                </div>
                        }
                        }
                  
                        @if ( ViewBag.slider != null)
                        {
                        @foreach (var item in ViewBag.slider)
                        {
                           

                                <div class="carousel-item ">
                                    <a class="main-slider-slide" href="/@item.linkslaid"
                                        style="background-image: url(../fileupload/@item.ImageMainSlid)">
                                    </a>
                                </div>
                      
                   
                 



                          }
                        }
                            </div>
        
                         @* else{
                        <div class="carousel-item active">
                                    <a class="main-slider-slide" href="#"
                                        style="background-image: url(./assets/img/main-slider/1.jpg)">
                                    </a>
                                </div>
                        } *@
                            <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <a class="carousel-control-next" href="#main-slider" data-slide="next">
                                <i class="mdi mdi-chevron-left"></i>
                            </a>
                    
                            
                        </section>
                             
                        <section id="main-slider-res"
                            class="main-slider carousel slide carousel-fade card d-none show-sm" data-ride="carousel">
                          
                            <div class="carousel-inner">


                                              @if ( ViewBag.slider1 != null)
                        {
                        @foreach (var item in ViewBag.slider1)
                        {
                                <div class="carousel-item active">
                                    <a class="main-slider-slide" href="/@item.linkslaid">
                                        <img src="/fileupload/@item.ImageMainSlid" alt=""
                                            class="img-fluid">
                                    </a>
                                </div>
                             }
                        }
                                     @if ( ViewBag.slider != null)
                        {
                        @foreach (var item in ViewBag.slider)
                        {
                           
                                <div class="carousel-item">
                                    <a class="main-slider-slide"href="/@item.linkslaid">
                                        <img src="/fileupload/@item.ImageMainSlid" alt=""
                                            class="img-fluid">
                                    </a>
                                </div>
                           


                        }
                        }
                            </div>
                            <a class="carousel-control-prev" href="#main-slider-res" role="button" data-slide="prev">
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <a class="carousel-control-next" href="#main-slider-res" data-slide="next">
                                <i class="mdi mdi-chevron-left"></i>
                            </a>
                        </section>
                        
                <!-- Start Product-Slider -->
                <div class="row mt-2">
                    <div class="col-xl-12 col-lg-12">
                        <section class="slider-section dt-sl mb-5">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="section-title text-sm-title title-wide no-after-title-wide">
                                        <h2>کالا های جدید نوِنو </h2>
                                        <a href="/home/category4?c=1">مشاهده همه</a>
                                    </div>
                                </div>

                                <!-- Start Product-Slider -->
                                <div class="col-12 px-res-0 d-lg-block d-md-block d-none">
                                    <div class="product-carousel carousel-md owl-carousel owl-theme">
                                      @if (ViewBag.product2!=null)
                                        {
                                            @foreach (var item in ViewBag.product2)
                                            {
                                                <div class="d-flex justify-content-center container mt-1" style="max-height: 300px;">
                                                    <div class="card p-2">
                                                        <div class="about-product text-center mt-1 p-1" style="height:160px;">
                                                            <a class="product-thumb" href="/SinglePage/index/@item.Id" style="   border-radius: 5%;">
                                                                <img src="/FileUpload/@item.Image" alt="Product Thumbnail"  style=" border-radius: 10%; max-height: 150px;">
                                                            </a>
                                                        </div>
                                                        <div class="stats ">
                                                            <h6 class="mt-0 text-black-50"> <a style=" font-size: 14px;" class="text-warning" href="/SinglePage/index/@item.Id">@item.Title_Pro</a></h6>
                                                            <div class="d-flex justify-content-between p-price"> <a class="product-meta" style="color: gray; " href="/SinglePage/index/@item.Id">@item.Type_pro</a></div>
                                                            <div class="d-flex justify-content-between p-price"><del style="color: red;"  id="@item.Id">@item.Main_Price</del>
                                                            <span style="color: gray;" id="@item.Id@item.Id">@item.Discount_Price تومان </span></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <script>
                                                        document.getElementById("@item.Id").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                        document.getElementById("@item.Id@item.Id").innerText=document.getElementById("@item.Id@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    </script>

                                                </div>
                                            }
                                            
                                        }
                                        
                                          
                                    </div>
                                </div>
                                <div class="col-12 px-res-0 d-lg-none d-md-none d-block">
                                    <div class="product-carousel carousel-md owl-carousel owl-theme">




                                      @if (ViewBag.product2!=null)
                                        {
                                            @foreach (var item in ViewBag.product2)
                                            {
                                                 <div class="d-flex justify-content-center container mt-1" style="max-height: 300px;">
                                                    <div class="card p-2">
                                                        <div class="about-product text-center mt-1 p-1" style="height:160px;">
                                                            <a class="product-thumb" href="/SinglePage/index/@item.Id" style="   border-radius: 5%;">
                                                                <img src="/FileUpload/@item.Image" alt="Product Thumbnail"  style=" border-radius: 10%; max-height: 150px;">
                                                            </a>
                                                        </div>
                                                        <div class="stats ">
                                                            <h6 class="mt-0 text-black-50"> <a style=" font-size: 10px;" class="text-warning" href="/SinglePage/index/@item.Id">@item.Title_Pro</a></h6>
                                                            <div class="d-flex justify-content-between p-price"> <a class="product-meta" style="color: gray;  font-size: 10px; " href="/SinglePage/index/@item.Id">@item.Type_pro</a></div>
                                                            <div class="d-flex justify-content-between p-price"><del style="color: red;  font-size: 10px;"  id="@item.Id">@item.Main_Price</del>
                                                            <span style="color: gray;  font-size: 10px;" id="@item.Id@item.Id">@item.Discount_Price تومان </span></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <script>
                                                        document.getElementById("@item.Id").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                        document.getElementById("@item.Id@item.Id").innerText=document.getElementById("@item.Id@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    </script>

                                                </div>
                                            }
                                            
                                        }
                                          
                                    </div>
                                </div>
                                <!-- End Product-Slider -->

                            </div>
                        </section>
                    </div>

                </div>
                <!-- End Product-Slider -->
                   
                        <!-- End main-slider -->
                    </div>
                </div>
                <!-- End Main-Slider -->
                    </div>
                </div>
                <!-- End Main-Slider -->


            </div>
        </main>

        <!-- Start Category-Section -->

  @if ( ViewBag.baner1 != null)
                        {
                        @foreach (var item in ViewBag.baner1)
                        {
        <div class="vw-100">
            <div>
                <div>
                    <a href="/@item.link">
                        <img style="width: 100%;" src="/fileupload/@item.ImageMainSlid" alt="">
                    </a>
                </div>
            </div>
        </div>
                        }
                        }

        <!-- End Category-Section -->

        <!-- Start main-content -->
        <main class="main-content dt-sl mt-4 mb-3">
            <div class="container main-container">
         <form action="/home/catrcory3">
                <!-- Start Category-Section -->
                <div class="row mt-3 mb-5">
                    <div class="col-12">
                        <div class="category-section dt-sn dt-sl">
                            <div class="category-section-slider dt-sl">
                                <div class="category-slider owl-carousel">
                                    <div class="item">
                                        <a href="/home/CAtegory3?c=1" class="promotion-category">
                                            <img src="~/assets/img/category/notebook-computer.png" alt="">
                                            <h4 class="promotion-category-name">کالای دیجیتال</h4>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="/home/CAtegory3?c=2" class="promotion-category">
                                            <img src="~/assets/img/category/lifeline-in-a-heart-outline.png" alt="">
                                            <h4 class="promotion-category-name">آرایشی، بهداشتی و سلامت</h4>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="/home/CAtegory3?c=3" class="promotion-category">
                                            <img src="~/assets/img/category/repair-tools.png" alt="">
                                            <h4 class="promotion-category-name">خودرو،ابزار و اداری</h4>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="/home/CAtegory3?c=4" class="promotion-category">
                                            <img src="~/assets/img/category/hanbok.png" alt="">
                                            <h4 class="promotion-category-name">مد و پوشاک</h4>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="/home/CAtegory3?c=5" class="promotion-category">
                                            <img src="~/assets/img/category/sofa.png" alt="">
                                            <h4 class="promotion-category-name">خانه و آشپزخانه</h4>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="/home/CAtegory3?c=6" class="promotion-category">
                                            <img src="~/assets/img/category/school-material.png" alt="">
                                            <h4 class="promotion-category-name">لوازم تحریر و هنر</h4>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="/home/CAtegory3?c=7" class="promotion-category">
                                            <img src="~/assets/img/category/baby-girl.png" alt="">
                                            <h4 class="promotion-category-name">کودک و نوزاد</h4>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="/home/CAtegory3?c=8" class="promotion-category">
                                            <img src="~/assets/img/category/adventurer.png" alt="">
                                            <h4 class="promotion-category-name">ورزش و سفر</h4>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <!-- End Category-Section -->



                <!-- Start Product-Slider -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <section class="slider-section dt-sl mb-5">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="section-title text-sm-title title-wide no-after-title-wide">
                                        <h2>منتخب نوِنو
                                        </h2>
                                        <a href="/home/category4?c=2">مشاهده همه</a>
                                    </div>
                                </div>

                                <!-- Start Product-Slider -->
                                <div class="col-12 px-res-0 d-lg-block d-md-block d-none">
                                    <div class="product-carousel carousel-md owl-carousel owl-theme">
                                      @if (ViewBag.product3!=null)
                                        {
                                            @foreach (var item in ViewBag.product3)
                                            {
                                                <div class="d-flex justify-content-center container mt-1" style="max-height: 300px;">
                                                    <div class="card p-2">
                                                        <div class="about-product text-center mt-1 p-1" style="height:160px;">
                                                            <a class="product-thumb" href="/SinglePage/index/@item.Id" style="   border-radius: 5%;">
                                                                <img src="/FileUpload/@item.Image" alt="Product Thumbnail"  style=" border-radius: 10%; max-height: 150px;">
                                                            </a>
                                                        </div>
                                                        <div class="stats ">
                                                            <h6 class="mt-0 text-black-50"> <a style=" font-size: 14px;" class="text-warning" href="/SinglePage/index/@item.Id">@item.Title_Pro</a></h6>
                                                            <div class="d-flex justify-content-between p-price"> <a class="product-meta" style="color: gray; " href="/SinglePage/index/@item.Id">@item.Type_pro</a></div>
                                                            <div class="d-flex justify-content-between p-price"><del style="color: red;"  id="@item.Id">@item.Main_Price</del>
                                                            <span style="color: gray;" id="@item.Id@item.Id">@item.Discount_Price تومان </span></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <script>
                                                        document.getElementById("@item.Id").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                        document.getElementById("@item.Id@item.Id").innerText=document.getElementById("@item.Id@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    </script>

                                                </div>
                                            }
                                            
                                        }
                                        
                                          
                                    </div>
                                </div>
                                <div class="col-12 px-res-0 d-lg-none d-md-none d-block">
                                    <div class="product-carousel carousel-md owl-carousel owl-theme">




                                      @if (ViewBag.product3!=null)
                                        {
                                            @foreach (var item in ViewBag.product3)
                                            {
                                                 <div class="d-flex justify-content-center container mt-1" style="max-height: 300px;">
                                                    <div class="card p-2">
                                                        <div class="about-product text-center mt-1 p-1" style="height:160px;">
                                                            <a class="product-thumb" href="/SinglePage/index/@item.Id" style="   border-radius: 5%;">
                                                                <img src="/FileUpload/@item.Image" alt="Product Thumbnail"  style=" border-radius: 10%; max-height: 150px;">
                                                            </a>
                                                        </div>
                                                        <div class="stats ">
                                                            <h6 class="mt-0 text-black-50"> <a style=" font-size: 10px;" class="text-warning" href="/SinglePage/index/@item.Id">@item.Title_Pro</a></h6>
                                                            <div class="d-flex justify-content-between p-price"> <a class="product-meta" style="color: gray;  font-size: 10px; " href="/SinglePage/index/@item.Id">@item.Type_pro</a></div>
                                                            <div class="d-flex justify-content-between p-price"><del style="color: red;  font-size: 10px;"  id="@item.Id">@item.Main_Price</del>
                                                            <span style="color: gray;  font-size: 10px;" id="@item.Id@item.Id">@item.Discount_Price تومان </span></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <script>
                                                        document.getElementById("@item.Id").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                        document.getElementById("@item.Id@item.Id").innerText=document.getElementById("@item.Id@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    </script>

                                                </div>
                                            }
                                            
                                        }
                                          
                                    </div>
                                </div>
                                <!-- End Product-Slider -->

                            </div>
                        </section>
                    </div>

                </div>
                <!-- End Product-Slider -->



                <!-- Start Product-Slider -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <section class="slider-section dt-sl mb-5">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="section-title text-sm-title title-wide no-after-title-wide">
                                        <h2>حراجستون نوِنو </h2>
                                        <a href="/home/category4?c=3">مشاهده همه</a>
                                    </div>
                                </div>

                                <!-- Start Product-Slider -->
                                <div class="col-12 px-res-0 d-lg-block d-md-block d-none">
                                    <div class="product-carousel carousel-md owl-carousel owl-theme">
                                      @if (ViewBag.product4!=null)
                                        {
                                            @foreach (var item in ViewBag.product4)
                                            {
                                                <div class="d-flex justify-content-center container mt-1" style="max-height: 300px;">
                                                    <div class="card p-2">
                                                        <div class="about-product text-center mt-1 p-1" style="height:160px;">
                                                            <a class="product-thumb" href="/SinglePage/index/@item.Id" style="   border-radius: 5%;">
                                                                <img src="/FileUpload/@item.Image" alt="Product Thumbnail"  style=" border-radius: 10%; max-height: 150px;">
                                                            </a>
                                                        </div>
                                                        <div class="stats ">
                                                            <h6 class="mt-0 text-black-50"> <a style=" font-size: 14px;" class="text-warning" href="/SinglePage/index/@item.Id">@item.Title_Pro</a></h6>
                                                            <div class="d-flex justify-content-between p-price"> <a class="product-meta" style="color: gray; " href="/SinglePage/index/@item.Id">@item.Type_pro</a></div>
                                                            <div class="d-flex justify-content-between p-price"><del style="color: red;"  id="@item.Id">@item.Main_Price</del>
                                                            <span style="color: gray;" id="@item.Id@item.Id">@item.Discount_Price تومان </span></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <script>
                                                        document.getElementById("@item.Id").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                        document.getElementById("@item.Id@item.Id").innerText=document.getElementById("@item.Id@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    </script>

                                                </div>
                                            }
                                            
                                        }
                                        
                                          
                                    </div>
                                </div>
                                <div class="col-12 px-res-0 d-lg-none d-md-none d-block">
                                    <div class="product-carousel carousel-md owl-carousel owl-theme">




                                      @if (ViewBag.product4!=null)
                                        {
                                            @foreach (var item in ViewBag.product4)
                                            {
                                                 <div class="d-flex justify-content-center container mt-1" style="max-height: 300px;">
                                                    <div class="card p-2">
                                                        <div class="about-product text-center mt-1 p-1" style="height:160px;">
                                                            <a class="product-thumb" href="/SinglePage/index/@item.Id" style="   border-radius: 5%;">
                                                                <img src="/FileUpload/@item.Image" alt="Product Thumbnail"  style=" border-radius: 10%; max-height: 150px;">
                                                            </a>
                                                        </div>
                                                        <div class="stats ">
                                                            <h6 class="mt-0 text-black-50"> <a style=" font-size: 10px;" class="text-warning" href="/SinglePage/index/@item.Id">@item.Title_Pro</a></h6>
                                                            <div class="d-flex justify-content-between p-price"> <a class="product-meta" style="color: gray;  font-size: 10px; " href="/SinglePage/index/@item.Id">@item.Type_pro</a></div>
                                                            <div class="d-flex justify-content-between p-price"><del style="color: red;  font-size: 10px;"  id="@item.Id">@item.Main_Price</del>
                                                            <span style="color: gray;  font-size: 10px;" id="@item.Id@item.Id">@item.Discount_Price تومان </span></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <script>
                                                        document.getElementById("@item.Id").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                        document.getElementById("@item.Id@item.Id").innerText=document.getElementById("@item.Id@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    </script>

                                                </div>
                                            }
                                            
                                        }
                                          
                                    </div>
                                </div>
                                <!-- End Product-Slider -->

                            </div>
                        </section>
                    </div>

                </div>
                <!-- End Product-Slider -->

                <!-- Start Banner -->
                <div class="row mt-3 mb-5">
                @if ( ViewBag.baner3 != null)
                        {
                        @foreach (var item in ViewBag.baner3)
                        {
                    <div class="col-md-6 col-sm-12 col-12 mb-2">
                        <div class="widget-banner">
                            <a href="/@item.link">
                                <img src="/fileupload/@item.ImageMainSlid" alt="">
                            </a>
                        </div>
                    </div>
                        }
                        }

     @if ( ViewBag.baner2 != null)
                        {
                        @foreach (var item in ViewBag.baner2)
                        {
                    <div class="col-md-6 col-sm-12 col-12 mb-2">
                        <div class="widget-banner">
                            <a href="/
                            @item.link">
                                <img src="/fileupload/@item.ImageMainSlid" alt="">
                            </a>
                        </div>
                    </div>
                        }
                        }

                </div>
                <!-- End Banner -->



                <!-- Start Product-Slider -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <section class="slider-section dt-sl mb-5">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="section-title text-sm-title title-wide no-after-title-wide">
                                        <h2> خوش قیمت های نوِنو 
                                        </h2>

                                        <a href="/home/category4?c=4">مشاهده همه</a>
                                    </div>
                                </div>
                                <!-- Start Product-Slider -->
                                <div class="col-12 px-res-0 d-lg-block d-md-block d-none">
                                    <div class="product-carousel carousel-md owl-carousel owl-theme">
                                      @if (ViewBag.product5!=null)
                                        {
                                            @foreach (var item in ViewBag.product5)
                                            {
                                                <div class="d-flex justify-content-center container mt-1" style="max-height: 300px;">
                                                    <div class="card p-2">
                                                        <div class="about-product text-center mt-1 p-1" style="height:160px;">
                                                            <a class="product-thumb" href="/SinglePage/index/@item.Id" style="   border-radius: 5%;">
                                                                <img src="/FileUpload/@item.Image" alt="Product Thumbnail"  style=" border-radius: 10%; max-height: 150px;">
                                                            </a>
                                                        </div>
                                                        <div class="stats ">
                                                            <h6 class="mt-0 text-black-50"> <a style=" font-size: 14px;" class="text-warning" href="/SinglePage/index/@item.Id">@item.Title_Pro</a></h6>
                                                            <div class="d-flex justify-content-between p-price"> <a class="product-meta" style="color: gray; " href="/SinglePage/index/@item.Id">@item.Type_pro</a></div>
                                                            <div class="d-flex justify-content-between p-price"><del style="color: red;"  id="@item.Id">@item.Main_Price</del>
                                                            <span style="color: gray;" id="@item.Id@item.Id">@item.Discount_Price تومان </span></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <script>
                                                        document.getElementById("@item.Id").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                        document.getElementById("@item.Id@item.Id").innerText=document.getElementById("@item.Id@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    </script>

                                                </div>
                                            }
                                            
                                        }
                                        
                                          
                                    </div>
                                </div>
                                <div class="col-12 px-res-0 d-lg-none d-md-none d-block">
                                    <div class="product-carousel carousel-md owl-carousel owl-theme">




                                      @if (ViewBag.product5!=null)
                                        {
                                            @foreach (var item in ViewBag.product5)
                                            {
                                                 <div class="d-flex justify-content-center container mt-1" style="max-height: 300px;">
                                                    <div class="card p-2">
                                                        <div class="about-product text-center mt-1 p-1" style="height:160px;">
                                                            <a class="product-thumb" href="/SinglePage/index/@item.Id" style="   border-radius: 5%;">
                                                                <img src="/FileUpload/@item.Image" alt="Product Thumbnail"  style=" border-radius: 10%; max-height: 150px;">
                                                            </a>
                                                        </div>
                                                        <div class="stats ">
                                                            <h6 class="mt-0 text-black-50"> <a style=" font-size: 10px;" class="text-warning" href="/SinglePage/index/@item.Id">@item.Title_Pro</a></h6>
                                                            <div class="d-flex justify-content-between p-price"> <a class="product-meta" style="color: gray;  font-size: 10px; " href="/SinglePage/index/@item.Id">@item.Type_pro</a></div>
                                                            <div class="d-flex justify-content-between p-price"><del style="color: red;  font-size: 10px;"  id="@item.Id">@item.Main_Price</del>
                                                            <span style="color: gray;  font-size: 10px;" id="@item.Id@item.Id">@item.Discount_Price تومان </span></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <script>
                                                        document.getElementById("@item.Id").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                        document.getElementById("@item.Id@item.Id").innerText=document.getElementById("@item.Id@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    </script>

                                                </div>
                                            }
                                            
                                        }
                                          
                                    </div>
                                </div>
                                <!-- End Product-Slider -->

                            </div>
                        </section>
                    </div>

                </div>
                <!-- End Product-Slider -->

            </div>
        </main>
        <!-- End main-content -->
 <script>
    function addcart1(id)
    {

       $.ajax({
          url:"/home/addshop/"+parseInt(id),
          type:"Get",
      }).done(function(result)
      {
      });
       }
</script>


