    <!-- BEGIN: Content-->
<section id="data-list-view" class="data-list-view-header">
  @if (ViewBag.er != null)
{
    <p class="alert alert-success">@ViewBag.er</p>
}
  <!-- DataTable starts -->
  <div class="table-responsive">
    <table class="table data-list-view">
      <thead>
          <tr>
          <th></th>
          <th>ردیف</th>
          <th> نام  کاربر </th>
          <th> شماره تماس  </th>
           <th>  کد کاربر </th>
           <th>  استان </th>
          <th>  شهرستان  </th>
           <th>   مدت عضویت </th>
           <th>  عکس کاربر </th>
          <th> عملیات</th>
        </tr>
      </thead>
      <tbody>
@if (ViewBag.list != null)
{
  int i=1;
    foreach (var item in ViewBag.list)
    {
          <tr>
            <td></td>
            <td class="product-category">@i</td>
            <td class="product-name">@item.NameFamily</td>
            <td class="product-category">@item.Phone </td>
            <td class="product-category">@item.RPass </td>
            <td class="product-name">@item.State</td>
            <td class="product-category">@item.city </td>
            <td class="product-category">@item.TimeLogIn </td>
            <td class="product-category">
               <img src="/fileupload/@item.Image" style="width: 60px;border-radius: 25%;" alt="">
            </td>
           <td class="product-action">
             <div class="col-lg-3 col-md-3 mb-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                  
                    <a href="/admin/users/del?s=@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('آیا از حذف رکورد مورد نظر مطمئن هستید؟')">حذف</a>
                     <a href="/admin/users/detail?s=@item.Id" class="btn btn-info btn-sm" >کالاها</a>
                      <a href="/admin/details/index?s=@item.Id" class="btn btn-secondary btn-sm" >جزئیات</a>
                 
                </div>
              </div>
          </td>
        </tr>
        i++;

    }
}
      

       




      </tbody>
    </table>
  </div>
  <!-- DataTable ends -->

  <!-- add new sidebar starts -->
 
  <!-- add new sidebar ends -->
</section>
<!-- Data list view end -->
