<style>
    .hover1:hover {
        background-color: #59b63fbd;
        color: #ffffff;
    }
</style>
@model ViewModel.AdminViewModel.Kala.Vm_Return

<div class="content-body">
    <div class="col-lg-12">
        <div style="max-width: 600px !important; margin: auto;" class="card">
            <div class="card-heade  m-3" style="text-align: center;  ">
                <div class="alert   alert-square "
                    style="background-color: #5AB640;  color: #ffffff; box-shadow: 0 1px 12px 0 rgba(0,0,0,0.2);">
                    <h4 style="margin-top: 0rem; margin-bottom: 0rem; font-size: 17px;" class="card-title"> <span
                            style="font-weight: bold; " class="text-light"> اطلاعات کالا تایید شده </h4>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            @if (ViewBag.listp != null)
                            {
                                @foreach (var item in ViewBag.listp)
                                {
                                    <div class="form-group">
                                        <div class="col-12 row">
                                            <div class="col-12">
                                                <label style="font-weight: bold; font-size:16px; color: #59b63f;"
                                            class="text-label">
                                                    اطلاعات درخواست
                                                </label>
                                            </div>

                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    کد کالا:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                    @item.Id
                                                </p>
                                            </div>
                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    نام ثبت کننده:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                    @item.NameCrator
                                                </p>
                                            </div>
                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    شماره ثبت کننده :
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                    @item.PhoneCreator
                                                </p>
                                            </div>
                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    تاریخ ثبت:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                    @item.Time
                                                </p>
                                            </div>

                                            
                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    دسته اصلی:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                    @item.FatherCat
                                                </p>
                                            </div>

                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    دسته فرعی :
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                     @item.Cat
                                                </p>
                                            </div>

                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    زیر دسته فرعی:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                    @item.ChildCat
                                                </p>
                                            </div>
                                             <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    گروه <span class="text-danger">( ویژگی )</span>  :
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                    @item.Special
                                                </p>
                                            </div>

                                            <hr>
                                            <div class="col-12">
                                                <label style="font-weight: bold; font-size:16px; color: #59b63f;"
                                            class="text-label">
                                                    اطلاعات عنوان و توضیحات
                                                </label>
                                            </div>

                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    عنوان:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                     @item.Title_Pro
                                                </p>
                                            </div>

                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    توضیحات:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                     @item.Discreption_Pro
                                                </p>
                                            </div>

                                            <hr>
                                            <div class="col-12">
                                                <label style="font-weight: bold; font-size:16px; color: #59b63f;"
                                            class="text-label">
                                                    نوع
                                                </label>
                                            </div>

                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    نوع کالا:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                   @item.Type_pro  
                                                </p>
                                            </div>

                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    نوع معامله :
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 12px; margin-top: 5px;">
                                                   @item.Type_Transaction 
                                                </p>
                                            </div>

                                             <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    تعداد موجودی :
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p
                                            style="font-weight: bold; font-size: 14px; margin-right: 8px; margin-top: 5px;">
                                                    @item.Total عدد
                                                </p>
                                            </div>
                                            <hr>
                                            <div class="col-12">
                                                <label style="font-weight: bold; font-size:16px; color: #59b63f;"
                                            class="text-label">
                                                    قیمت گذاری
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    قیمت کالا:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p id="mp1"
                                            style="font-weight: bold; font-size: 14px; margin-right: 8px; margin-top: 5px;">
                                                    @item.Main_Price تومان
                                                </p>
                                            </div>
                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    قیمت با تخفیف کالا:
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <p id="mp"
                                            style="font-weight: bold; font-size: 14px; margin-right: 8px; margin-top: 5px;">
                                                 @item.Discount_Price تومان
                                                </p>
                                            </div>
                                            <script>
                                                document.getElementById("mp").innerText=document.getElementById("mp").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                document.getElementById("mp1").innerText=document.getElementById("mp1").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                            </script>
                                            <hr>
                                            <div class="col-12">
                                                <label style="font-weight: bold; font-size:16px; color: #59b63f;"
                                            class="text-label">
                                                    عکس های کالا
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <label style="font-weight: bold; font-size:14px" class="text-label">
                                                    عکس اصلی:
                                                </label>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <a href="~/fileupload/@item.Image" data-fancybox="gallery1" data-hash="one">
                                                        <img src="~/fileupload/@item.Image" class=" p-2" style="width: 100% ;height: 100%;border-radius: 15%;">
                                                    </a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                    
                                               <div class="col-12 mb-1">
                                                    <label style="font-weight: bold; font-size:14px" class="text-label">
                                                        عکس های فرعی:
                                                    </label>
                                                </div>
                                                 <div class="col-4 mb-1">
                                                    <a href="~/fileupload/@item.Image1" data-fancybox="gallery1" data-hash="two">
                                                        <img src="~/fileupload/@item.Image1" class="p-1" style="width: 100% ;height: 100%;border-radius: 10%;">
                                                    </a>
                                                </div>
                                                <div class="col-4 mb-1">
                                                    <a href="~/fileupload/@item.Image2" data-fancybox="gallery1" data-hash="three">
                                                        <img src="~/fileupload/@item.Image2" class="p-1" style="width: 100% ;height: 100%;border-radius: 10%;">
                                                    </a>
                                                </div>
                                                <div class="col-4 mb-1">
                                                    <a href="~/fileupload/@item.Image3" data-fancybox="gallery1" data-hash="four">
                                                        <img src="~/fileupload/@item.Image3" class="p-1" style="width: 100% ;height: 100%;border-radius: 10%;">
                                                    </a>
                                                </div>
                                                 
                                                 

                                          </div>
                                           <hr>
                                                <p class="text-danger">
                                                    در صورت تمایل قبل از تایید ثبت ویژگی کالا را انجام نمایید.
                                                </p>
                                                                                        
                                           


                                          <form method="POST" action="/Admin/Kala/SpecialOk">

                                                <div class="row">

                                              <div class="col-8 mb-1">
                                                <select asp-for="Special" class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 100%;">
                                                        <option> انتخاب ویژگی</option>
                                                        <option value="جدید نو نو">جدید</option>
                                                        <option value="منتخب نو نو">منتخب</option>
                                                        <option value="حراج نو نو">حراج</option>
                                                        <option value="خوش قیمت نونو">خوش قیمت</option>
                                                </select>
                                             </div>
                                             
                                             <input type="text" value="@item.Id" asp-for="iD" hidden>



                                            <div class="col-4 mb-1">
                                                <button  type="submit" style="font-weight: bold; font-size:12px;  border-color: green;"
                                                    class="btn btn-sm btn-primary btn-block hover1 text-light"> ثبت </button>
                                             </div>

                                             </div>


                                          </form>

                                          <hr>
                                <div class="row">
                                    <div class="col-6 mb-1">
                                        <a  onclick="return confirm('آیا از حذف آیتم مطمئن هستید؟');"  href="/YourAccount/ProfileUser?id=@item.Id" class="btn btn-sm btn-dark btn-block hover1 text-light"
                                            style="font-weight: bold; font-size:16px;  border-color: green;"> حذف </a>
                                    </div>
                                    <div class="col-6 mb-1">
                                        <a  href="/admin/kala/Ok" style="font-weight: bold; font-size:16px;  border-color: green;"
                                            class="btn btn-sm btn-info btn-block hover1 text-light"> بازگشت </a>
                                    </div>
                                </div>
                                
                           
                                } ;
                            }


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>