<section id="data-list-view" class="data-list-view-header">
  <div class="table-responsive">
    <table class="table data-list-view">
      <thead>
        <tr>
          <th></th>
          <th>ردیف</th>
          <th> کد ثبت </th>
           <th> کد کاربر </th>
          <th>  عنوان  </th>
           <th> زمان ثبت </th>
           
           <th> کاربر  </th>
            <th> مبلغ درخواستی  </th>
          <th> عملیات</th>
        </tr>
      </thead>
      <tbody>
        @if (ViewBag.R!=null)
        {
          int i=1;
          @foreach (var item in ViewBag.R)
          {
             <tr>
          <td></td>
          <td class="product-category">@i</td>
          <td class="product-name">@item.Id</td>
           <td class="product-name">@item.iduser</td>
            <td class="product-category">  درخواست برداشت از کیف پول </td>

            <td class="product-category">@item.havesttime </td>
           
               <td class="product-category">@item.NameFamily</td>
                <td class="product-category">@item.Harvest</td>
           <td class="product-action">
             <div class="col-lg-3 col-md-3 mb-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="/admin/Pay/No/@item.Id" class="btn btn-success btn-sm" > پرداخت  </a>
                 
                  
                </div>
              </div>
          </td>
        </tr>
          }
          i++;
            
        }
       
      </tbody>
    </table>
  </div>
</section>

